@import '../utilities/variables';
.btn {
@include button {
  border-radius: 5px;
}
  &:hover {
    background-color: $color-pri-light;
  }
}

.default {
  background-color: $color-ter;
}

.error {
  background-color: $color-err;
}

.info {
  background-color: $color-info;
}

.success {
  background-color: $color-succ;
}

.warning {
  background-color: $color-warn;
}
