.container {
  padding: 0 10px;
}

.row {
@include flex-row(1em 10px);
}

[class^=col] {
  @include flex-col(100%);
}

@for $i from 1 through 12{
  .theme.col-#{$i} {
  background-color: adjust-hue($color-pri-comp,$i * 30) ;
}
}


.card {
  flex-basis: 100%;
}
