@mixin blockquote {
  font-size: $font-m;
  font-weight: $font-weight-light;
  font-style: italic;
  margin-left: 20px;
  padding-left: 20px;
  @content ;
}
@mixin button {
  margin-top: 15px;
  width: 100%;
  color: #fff;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  @content ;
}
@mixin input($w,$disp:block, $mar:10px auto 0, $brdr:none, $pad:10px, $brdr-bot:5px solid $color-pri) {
  width: $w;
  display:$disp;
  margin: $mar;
  border: $brdr;
  padding: $pad;
  border-bottom: $brdr-bot;
}
@mixin hidden($w, $h, $pos:absolute, $left:-10000px, $top:auto, $over:hidden) {
  width:$w;
  height:$h;
  position:$pos;
  left:$left;
  top:$top;
  overflow:$over;
}
@mixin flex-row($pad, $disp:flex, $dir:column) {
  padding:$pad;
  display: $disp;
  flex-direction: $dir;
}
@mixin flex-col($bas, $top:10px, $minh:25px, $pad:10px, $brdr: 5px) {
  flex-basis: $bas;
  margin-top: $top;
  min-height: $minh;
  padding: $pad;
  border-radius: $brdr;
}
@mixin img($disp:block, $left:auto, $right:auto, $top:null, $width:null) {
  display: $disp;
  margin-left: $left;
  margin-right: $right;
  margin-top: $top;
  max-width: $width;
  @content ;
}
@mixin flexy($disp:flex, $dir:null, $wrap:null, $just:null) {
display: $disp;
flex-direction:$dir ;
flex-wrap:$wrap ;
justify-content:$just ;
@content ;
}
@mixin nav-link {
  text-align: center;
  border-radius: 5px;
  padding: 10px 0;
  display: block;
  width: 100%;
  transition:
    background-color .2s ease-in-out,
    color .2s ease-in-out;
}
@mixin hover {
  background-color: $color-pri;
  @content ;
}
