$base-lh: 1.15;
$lg-lh: 1.45em;

$font-s:1em;
$font-m:2em;
$font-fam:monospace, monospace;
$font-weight-light: 300;
$font-weight-heavy: 700;

$color-pri: #58e1c1;
$color-sec: #777;
$color-pri-light: lighten($color-pri, 30%);
$color-pri-dark: darken($color-pri, 30%);
$color-pri-comp: complement($color-pri);
$color-sec-comp: complement($color-sec);
$color-ter:#51ddfc;

$breakpoint-s: 768px;
$breakpoint-l: 1400px;
