@import '../utilities/variables';
* {
  font-family: 'Lato', sans-serif;
  color: $color-sec;
  box-sizing: border-box;
  @import '../utilities/variables';
}

p {
  line-height: $lg-lh;
}

a {
  text-decoration: none;
}
.headline-primary {
  color: $color-pri;
  margin-left: 10px;
}

.headline-secondary {
  font-weight: $font-weight-light;
  color: $color-sec;
}

.link {
  color: $color-ter;
  font-weight: $font-weight-heavy;
}

.blockquote {
  @include blockquote {
  border-left: 8px solid $color-pri;
  border-radius: 5px;
}
}
